.advanteges__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advanteges__item {
  font-size: 14px;
  line-height: 21px;
  text-align: left;

  color: @text-color__muted;
  background-color: @accent-color;
}

.advanteges__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: left;

  color: @text-color;
}
