.advanteges__list {
  display: flex;
  flex-direction: column;

  .list-reset();
}

.advanteges-wrap {
  width: 320px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 19px;
}

@media (min-width: @tablet-width) {
  .advanteges-wrap {
    width: auto;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .advanteges-wrap {
    width: auto;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: @tablet-width) {
  .advanteges__list {
    width: 100%;
    flex-direction: row;
  }
}

@media (min-width: @desktop-width) {
  .advanteges__list {
    width: 100%;
    flex-direction: row;
  }
}

.advanteges__item {
  position: relative;

  padding-top: 10px;
  padding-left: 70px;
  padding-right: 20px;
  padding-bottom: 18px;
}

@media (min-width: @tablet-width) {
  .advanteges__item {
    flex-grow: 1;

    width: 33.3%;
    margin-left: 0;
    padding: 61px 47px;
    padding-top: 159px;
    text-align: center;
  }
}

@media (min-width: @tablet-width) {
  .advanteges__item:nth-child(2) {
    order: 2;
  }
}

@media (min-width: @tablet-width) {
  .advanteges__item:nth-child(3) {
    order: 1;

    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: @desktop-width) {
  .advanteges__item {
    margin-left: 0;
    padding: 159px 50px 82px;
    text-align: center;
  }
}

.advanteges__icon {
  position: absolute;
  top: 0;
  left: 20px;
}

.advanteges__title {
  margin: 0;
  margin-bottom: 14px;

  font-size: 18px;
  line-height: 26px;

  color: @text-color;
}

@media (min-width: @tablet-width) {
  .advanteges__title {
    font-size: 21px;
    margin-bottom: 21px;
  }
}

.advanteges__description {
  margin: 0;
}
