.features__header {
  width: 320px;
  margin: 0 auto;
  padding: 40px 32px 29px;

  color: @text-color;
  background-color: @accent-color;
}

@media (min-width: @tablet-width) {
  .features__header {
    width: 550px;
    padding: 51px 30px 55px;
  }
}

@media (min-width: @desktop-width) {
  .features__header {
    width: 550px;
    padding: 51px 30px 55px;
  }
}

.features__caption {
  margin: 0 auto;
  margin-bottom: 40px;

  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.features__introduction {
  margin: 0 auto;

  line-height: 26px;
  text-align: center;

  color: @text-color-muted;
  background-color: @accent-color;
}

.features__figure {
  display: flex;
  flex-direction: column;

  width: 100%;

  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .features__figure {
    flex-direction: row;
  }
}

@media (min-width: @desktop-width) {
  .features__figure {
    flex-direction: row;
  }
}

.features__figcaption {
  width: 265px;
  padding: 61px 28px 45px;
  text-align: center;

  color: @accent-color;
  background-color: @main-color;
}

@media (min-width: @tablet-width) {
  .features__figcaption {
    width: 33.3%;
    padding: 46px 47px;
  }
}

@media (min-width: @desktop-width) {
  .features__figcaption {
    width: 33.3%;
    padding: 53px 67px 63px;
  }
}

.features__image {
  width: 320px;
  height: 260px;
}

@media (min-width: @tablet-width) {
  .features__image {
    width: 66.7%;
    height: 275px;
  }
}

@media (min-width: @desktop-width) {
  .features__image {
    width: 66.7%;
    height: 275px;
  }
}

.features__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 26px;
}

.features__description {
  margin: 0;
  margin-top: 25px;
}

.features__list {
  display: flex;
  flex-direction: column;
  width: 320px;

  margin: 0 auto;
  padding: 0;

  list-style: none;
  text-decoration: none;

  color: @text-color-muted;
}

@media (min-width: @tablet-width) {
  .features__list {
    flex-direction: row;
    width: auto;
  }
}

@media (min-width: @desktop-width) {
  .features__list {
    flex-direction: row;
    width: auto;
  }
}

.features__item {
  padding: 32px 57px;

  background-color: @form-color;
  text-align: center;

  .features__title {
    margin: 0;
    margin-bottom: 15px;

    font-size: 18px;
    line-height: 26px;
    font-weight: bold;

    color: @text-color;
  }

  .features__description {
    margin: 0;
    margin-top: 20px;
  }
}

@media (min-width: @tablet-width) {
  .features__item {
    width: 33.3%;
    padding: 50px 48px;
  }
}

@media (min-width: @desktop-width) {
  .features__item {
    width: 33.3%;
    padding: 50px 58px 70px;
  }
}
