.features__caption {
  width: 255px;
  margin: 0 auto;
  margin-bottom: 35px;
  padding-top: 40px;

  font-size: 18px;
  line-height: 26px;
  text-align: center;

  color: @text-color;
  background-color: @accent-color;
}

.features__introduction {
  width: 255px;
  margin: 0 auto;

  line-height: 26px;
  text-align: center;

  color: @text-color-muted;
  background-color: @accent-color;
}

.features__figure {
  margin: 0;
}

.features__figcaption {
  width: 265px;
  padding: 61px 28px 45px;
  text-align: center;

  color: @accent-color;
  background-color: @main-color;
}

.features__image {
  width: 320px;
  height: 260px;
}

.features__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 26px;
}

.features__description {
  margin: 0;
  margin-top: 25px;
}

.features__list {
  width: 320px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
  text-decoration: none;

  color: @text-color-muted;
}

.features__item {
  padding: 32px 57px;

  background-color: @form-color;
  text-align: center;

  .features__title {
    margin: 0;
    margin-bottom: 15px;

    font-size: 18px;
    line-height: 26px;
    font-weight: bold;

    color: @text-color;
  }

  .features__description {
    margin: 0;
    margin-top: 20px;
  }
}
