.feedback {
  width: 320px;
  padding: 40px 22px 2px;
}

.filter__fieldset {
  width: 320px;
  padding: 24px 20px;

  border: none;
}

.filter__label {
  width: 100%;
}

.filter__label--text {
  margin: 0 auto 20px;
}

.filter__label--radio:not(:last-child) {
  margin-bottom: 13px;
}

.filter__label--checkbox:not(:last-child) {
  margin-bottom: 24px;
}

.filter__title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;

  color: @text-color;
}

.filter__title--radio {
  margin: 0 auto 27px;
}

.filter__title--checkbox {
  margin: 0 auto 21px;
}

.filter__description {
  margin: 0;
  margin-right: 15px;

  font-size: 14px;
  line-height: 26px;
  text-align: left;

  color: @text-color;
}

.filter__text {
  width: 100%;
  padding: 16px 20px;

  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  text-align: left;
  color: @text-color;
}

.filter__description--radio,
.filter__description--checkbox {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: left;
  text-transform: none;

  color: @text-color;
}

.filter__title--textarea {
  margin-bottom: 21px;
}

.filter__textarea {
  padding: 22px 33px 22px 21px;

  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  text-align: left;
  color: @text-color;
}

.filter__footnote {
  line-height: 26px;

  color: @text-color-muted;
}
