.gallery__title {
  width: 255px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding-top: 40px;

  font-size: 18px;
  line-height: 26px;
  text-align: center;

  color: @text-color;
}

.gallery__description {
  width: 270px;
  margin: 0 auto;
  padding: 15px 0 33px;

  line-height: 24px;
  text-align: center;
}
