.gallery__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;

  color: @text-color;
}

.gallery__description {
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  color: @text-color__muted;
}
