.post {
  margin: 0;
  padding: 22px 20px;
}

.post__link {
  font-size: 0;
}

.post__title {
  margin: 0;
  padding-top: 15px;

  font-size: 14px;
  line-height: 24px;

  color: @text-color;
}

.post__description {
  margin: 0;
  margin-bottom: 8px;

  line-height: 24px;
  text-transform: none;

  color: @text-color;
}

.post__button {
  border: none;
}

.post__icon {
  width: 23px;
  height: 21px;

  fill: fade(@text-color, 30%);
}

.post__likes {
  line-height: 24px;
  font-weight: bold;

  color: @text-color;
}
