.post__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (min-width: @tablet-width) {
  .post__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    padding: 15px 60px;
  }
}

@media (min-width: @desktop-width) {
  .post__wrapper {
    padding: 60px;
  }
}

.post {
  margin: 0;
  padding: 22px 20px;

  border-top: 1px solid #eeeeee;
}

@media (min-width: @tablet-width) {
  .post {
    display: flex;
    flex-direction: column;

    padding: 0;
    width: 50%;
    border-top: none;
  }
}

@media (min-width: @desktop-width) {
  .post {
    position: relative;

    padding: 0;
    width: 33.3%;
    border-top: none;
  }
}

@media (min-width: @tablet-width) {
  .post--big {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .post--big {
    width: 100%;
  }
}

.post__link {
  font-size: 0;
}

@media (min-width: @tablet-width) {
  .post__link {
    width: 100%;
    height: 267px;
  }

  .post--big .post__link {
    height: 400px;
  }
}

.post__image {
  object-fit: cover;
}

@media (min-width: @tablet-width) {
  .post__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: @desktop-width) {
  .post__image {
    width: 100%;
    height: 100%;
  }
}

.post__figcaption {
  display: flex;
  flex-wrap: wrap;

  width: 280px;
}

@media (min-width: @tablet-width) {
  .post__figcaption {
    display: flex;

    width: 100%;
    height: 80px;

    padding: 20px;

    background-color: @form-color;
  }
}

@media (min-width: @tablet-width) and (max-width: 1199px) {
  .post:nth-child(2n+3) .post__figcaption {
    background-color: #eaeaea;
  }
}

@media (min-width: @desktop-width) {
  .post__figcaption {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 100%;
    height: 80px;

    background-color: fade(@text-color, 30%);
  }
}

.post__title {
  width: 100%;
  margin: 0;
  padding-top: 15px;

  font-size: 14px;
  line-height: 24px;

  color: @text-color;
}

@media (min-width: @tablet-width) {
  .post__title {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .post__title {
    padding: 0;

    color: @accent-color;
  }
}

.post__description {
  width: 100%;
  margin: 0;
  margin-bottom: 8px;

  line-height: 24px;
  text-transform: none;
}

@media (min-width: @tablet-width) {
  .post__description {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .post__description {
    margin-bottom: 0;

    color: @accent-color;
  }
}

.post__likes {
  display: flex;
  flex-direction: row;

  padding: 0;
}

@media (min-width: @tablet-width) {
  .post__likes {
    margin-left: auto;

    transform: translateY(-40px);
  }
}

@media (min-width: @desktop-width) {
  .post__likes {
    background-color: transparent;

    border: none;
  }
}

.post__likes-icon {
  width: 23px;
  height: 21px;

  margin-right: 10px;

  opacity: 0.3;
}

@media (min-width: @desktop-width) {
  .post__likes-icon {
    opacity: 1;
  }

  .post__likes-icon path {
    fill: @accent-color;
  }
}

.post__likes-count {
  line-height: 24px;
  font-weight: bold;

  color: @text-color;
}

@media (min-width: @desktop-width) {
  .post__likes-count {
    color: @accent-color;
  }
}
