.post__title {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-align: left;

  color: @text-color;
}

.post__description {
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  text-transform: none;

  color: @text-color;
}

.post__button {
  border: none;
}

.post__icon {
  width: 23px;
  height: 21px;

  fill: fade(@text-color, 30%);
}

.post__likes {
  font-size: 14px;
  line-height: 24px;
  text-align: left;

  color: @text-color;
}
