.presentation__header {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 320px;
  margin: 0 auto;
  padding: 34px 42px;
  padding-bottom: 35px;
}

@media (min-width: @tablet-width) {
  .presentation__header {
    width: 460px;
    padding: 51px 20px 78px;
  }
}

@media (min-width: @desktop-width) {
  .presentation__header {
    width: 460px;
    padding: 70px 20px 71px;
  }
}

.presentation__title {
  margin: 0 auto;
  margin-bottom: 26px;

  font-size: 18px;
  line-height: 26px;
  text-align: center;

  color: @text-color;
}

@media (min-width: @tablet-width) {
  .presentation__title {
    margin-bottom: 31px;

    font-size: 30px;
  }
}

.player__button {
  background-color: @form-color;
  border: none;
}

.player__controls {
  border: none;
}

.presentation__description {
  margin: 0 auto;

  line-height: 24px;
  text-align: center;

  color: @text-color-muted;
}
