.search-hotel__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;

  color: @text-color;
}

.search-hotel__description {
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  color: @text-color__muted;
}
