.search-hotel {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 33px 20px 39px;
}

.search-hotel__title {
  font-size: 21px;
  line-height: 26px;
  text-align: center;

  color: @text-color;
}

.search-hotel__description {
  line-height: 24px;
  text-align: center;

  color: @text-color-muted;
}
