.welcome-image {
  height: 389px;
  background-color: @color-main;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/text-sedona-index.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-position: center 100%, center 50%, top;
  background-size: cover, 280px, cover;
  background-repeat: no-repeat;
}

.welcome-image__inner {
  height: 518px;
  background:
    url("../img/text-sedona.svg") no-repeat center,
    url("../img/bg-intro-triangle-mobile.svg") no-repeat bottom,
    url("../img/bg-back-mobile@1x.jpg") no-repeat top,
    @color-main;
}

@media (min-width: @tablet-width) {
  height: 389px;
  background:
    url("../img/text-sedona.svg") no-repeat center,
    url("../img/bg-intro-triangle-mobile.svg") no-repeat bottom,
    url("../img/bg-back-mobile@1x.jpg") no-repeat top,
    @color-main;
}

@media (min-width: @desktop-width) {

}
